%h1 Editing meeting

%p TODO: Editing dates needs to be fixed - IT DOESN'T WORK atm AND WILL MESS UP THINGS

= render 'shared/form_for_meeting'

= link_to 'Show', @meeting
\|
= link_to 'Back', meetings_path
