%h1 Listing meetings
.bottom-buttons-and-links
- if admin?
  = link_to "New Meeting", new_meeting_path
#meetings-list
  =render "shared/meetings_index", :@user => @user, :@meetings => @meetings

#meetings-date-nav
  .months-nav
    .prev
      = link_to " << ", meetings_path( :date => @date.beginning_of_month - 1 ), :remote => true
    .text
      = @date.strftime("%B")
    .next
      = link_to " >> ", meetings_path( :date => @date.end_of_month + 1 ), :remote => true