= render(:partial => "shared/meetings_list", :locals => {:@meeting => @meeting})
%p
  %b Total places:
  = @meeting.total_places

= link_to 'Edit', edit_meeting_path(@meeting)
\|
= link_to 'Back', meetings_path
