html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    color: #555555;

}

h1 {
    margin: 0;
    padding: 0;
}

input[type="submit"] {
    margin-bottom: 0;
    border: 1;
    background-image: url("/images/orange_button.png");

    }
input[type="text"] {
    background-image: url("/images/text_field_background.png")
}


#container {
    width: 760px;
    margin: auto;


}

#header {
    height: 130px;
    text-align: center;



}


#main-nav {
    width: 700px;
    text-align: center;

    background-color: #ececec;
    border: 0px;

}
#main-nav li  {
    display:    inline;

}

#content {

 overflow: hidden;

}

#meetings-list {

    padding: 10px;
}


#meeting-box {
    height: 50px; width: 60%;
    padding: 0 0 0 0;
    margin-top: 10px;
    margin-left: 65px;
    border-radius: 5px;
    border: solid;
    border-width: 0.1em;
    position: relative;

}


#meeting-box .date {
    width: 10%; height: 97%;
    border-radius: 5px 0 0 5px;
    background-color: #DDDDDD;
    text-align: center;
    float: left;
    line-height: 90%;
    padding-top: 2px;

}

#meeting-box .date big {
    color: #CD0000;
    font-size: 1.5em;
}

#meeting-box .date small, .date strong {
    font-size: 0.7em;
    display: block;
}

#meeting-box .time-span {
    width: 140px;
    padding-left: 50px;
    font-size: 0.9em;
}

#meeting-box .title {
    width: 67%; height: 40%;
    padding: 0px 0 10px 5px;
    line-height: 0px;

    position: absolute;
    top: 10px; left: 43px;
}


#meeting-box .notes {
    width: 67%; height: 30%;

    padding: 0 0 0 0px;
    position: absolute;
    left: 44px; bottom: 3px;
    font-size: 0.7em;

}
#meeting-box .notes p {
    position: absolute;
    left: 10px; bottom: -13px;
}

#meeting-box .notes span {

    float: right;
}

#meeting-box .links {
    line-height: 20px;
    padding-right: 10px;
    float: right;
}

#meeting-box .destroy {
    position: absolute;
    top: 10px;
    left: -70px;
}

#footer {
    clear: both;
    height: 80px;


}


a:link, a:active, a:visited {
    color: #CD0000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:  #ECECEC;
    background-color: #CD0000;
}

